@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Kalam:wght@300;400;700&display=swap');
* {
    margin: 20px;
    padding: 20 px;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}