@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Kalam:wght@300;400;700&display=swap');
* {
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: <wSeight>;
    font-style: normal;
}

body {
    background-color: rgb(135, 157, 205);
}

.title {
    color: rgb(83, 15, 15);
    border: 2px solid black;
    width: fit-content;
    margin: 20px;
    padding: 10px;
}
